.margin-top30{
    margin-top: 30px;
}
.margin-left25{
    margin-left: 25px;
}
.page-number{
    pointer-events: none;
    cursor: default;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}